{% extends 'base.html.twig' %}

{% block body %}
    <h2>Listando Tópicos</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Topico</th>
                    <th>Verificado</th>
                    <th>POST URL</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
            {% for subscription in subscriptions %}
                <tr>
                    <td>
                        <a href="{{ path('subscription_edit', { 'id': subscription.id }) }}">{{ subscription.id }}</a>
                    </td>
                    <td>
                        <a href="{{ path('subscription_edit', { 'id': subscription.id }) }}">
                            {{ subscription.topic }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('subscription_edit', { 'id': subscription.id }) }}">
                            {% if subscription.status %}Sim{% else %}Não{% endif %}
                        </a>
                    </td>
                    <td>
                        <input type="text" class="form-control" readonly onclick="this.select()" value="{{ app.request.getSchemeAndHttpHost ~ path('request_url', {'id':subscription.id}) }}" />
                    </td>
                    <td>
                        <a href="{{ path('subscription_edit', { 'id': subscription.id }) }}">Editar</a>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-md-4">
            <a href="{{ path('subscription_new') }}" class="btn btn-primary">Criar novo tópico</a>
        </div>
    </div>
{% endblock %}
